.itemDetail {
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 20px;
}

.itemDetailImage {
    margin: 0 0 40px;
    
} 
.itemDetailImage img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    
}
.itemDetailInfo {
    flex: 1 1 50%;
    text-align: left;
    margin: 0 30px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    
}
.itemDetailInfo h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: bold;
    padding: 0 0 20px;
}
.itemDetailPrice {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #038181;
    font-weight: bold;
    padding: 0 0 20px;
}
.itemDetailDescription {
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #333;
    font-weight: 600;
    padding: 0 0 10px;
}
.itemDetailDescription_text {
    font-size: 1rem;
    line-height: 1.7rem;
    color: #333;
    font-weight: 400;
    padding: 0 0 10px;
}
.itemDetailId {
    font-size: 0.7rem;
    line-height: 1.2rem;
    color: #666;
    padding: 0;
}
.itemDetailStock {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #666;
    padding: 0 0 40px;
}
.itemDetail_out_of_stock {
    color: #999;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 10px 0;
    text-align: left;
}
@media only screen and (min-width: 480px) {
    .itemDetail {
        flex-flow: row nowrap;
        padding: 40px;
    }
    .itemDetailImage {
        flex: 1 1 50%;
        
    } 
    .itemDetailImage img {
        width: 90%;
        min-width: 200px;
        height: auto;
               
    }
}