.itemListContainer {
    width: 100vw;
    margin: 0 auto;
}
.main_headline {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
    text-align: center;
    padding: 50px 20px;
}

