.header {
    display: flex;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 2px -2px #999;
    margin: 0 0 10px; /* to fix bottom shadow overlap */
    
}
.logoContainer {
    text-decoration: none;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 60px;
    height: auto;
    
}
.brandName {
    color: #038181;
    font-weight: 600;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    text-decoration: none;
    text-align: center;
    margin: 0;
}
.nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0 20px;
}

.nav_inactive {
    color: #666;
    text-decoration: none;
}
.nav_active {
    color: #038181;
    font-weight: bold;
    text-decoration: none;

}
.navItem {
    list-style-type: none;
    margin: 10px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
}
/* Medium size and desktop */
@media only screen and (min-width: 480px) {
    .nav {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .navItem {
        margin: 0 20px;
    }
    
}
