.header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}
.logoContainer {
    text-decoration: none;
    margin: 0;
}
.logo {
    width: 100px;
    height: auto;
}
.brandName {
    margin: 0;
    text-decoration: none;
    color: #038181;
    font-weight: 600;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.nav_active {
    color: #038181;
    text-decoration: none;

}
.nav_inactive {
    color: #666;
    text-decoration: none;
}

.navItem {
    list-style-type: none;
    margin: 0 20px;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
}
