.itemCount {
    width: auto;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.itemQuantityContainer {
    width: 200px;
    height: 40px;
    margin: 0 0 20px;
    border: 1px solid #999;
    background: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.operator {
    width: 20px;
    height: 20px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    text-align: center;
    color: #038181;
    margin: 0 10px;
    border: 1px solid #038181;
    border-radius: 20px;
    cursor: pointer;
}
.operator:hover {
    transition: 0.3s;
    transform: scale(1.1);
}
.addToCartBtn {
    width: 200px;
    height: 40px;
    margin: 10px 0;
    background: #ebebeb;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
}